In [1]:
import pandas as pd
warCSV = "Resources/jeffbagwell_war_historical.csv"
team_id_CSV = "Resources/team_codes.csv"
injury_CSV = "Resources/final_injury_data.csv"

war_df = pd.read_csv(warCSV, encoding='ISO-8859-1')
teamID_df = pd.read_csv(team_id_CSV)
injury_df = pd.read_csv(injury_CSV)
war_df

,player_name,age,key_bbref,year_ID,team_ID,stint_ID,lg_ID,is_P,franch_ID,sched,...,gms_RF,gms_OF,gms_DH,gms_PH,gms_PR,prev_tm,arrived,departed,next_tm,salary
0,David Aardsma,22.0,aardsda01,2004,SFG,1,NL,Y,SFG,162,...,0.0,0.0,0.0,0.0,0.0,---,2004,2004,CHC,300000.0
1,David Aardsma,24.0,aardsda01,2006,CHC,1,NL,Y,CHC,162,...,0.0,0.0,0.0,0.0,0.0,SFG,2006,2006,CHW,NaN
2,David Aardsma,25.0,aardsda01,2007,CHW,1,AL,Y,CHW,162,...,0.0,0.0,0.0,0.0,0.0,CHC,2007,2007,BOS,387500.0
3,David Aardsma,26.0,aardsda01,2008,BOS,1,AL,Y,BOS,162,...,0.0,0.0,0.0,0.0,0.0,CHW,2008,2008,SEA,403250.0
4,David Aardsma,27.0,aardsda01,2009,SEA,1,AL,Y,SEA,162,...,0.0,0.0,0.0,0.0,0.0,BOS,2009,2010,NYY,419000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112007,Dutch Zwilling,26.0,zwilldu01,1915,CHI,1,FL,N,CHH,155,...,0.0,148.0,0.0,1.0,0.0,CHW,1914,1915,CHC,NaN
112008,Dutch Zwilling,27.0,zwilldu01,1916,CHC,1,NL,N,CHC,156,...,4.0,9.0,0.0,23.0,1.0,CHH,1916,1916,---,3250.0
112009,Tony Zych,24.0,zychto01,2015,SEA,1,AL,Y,SEA,162,...,0.0,0.0,0.0,0.0,0.0,---,2015,2017,---,NaN
112010,Tony Zych,25.0,zychto01,2016,SEA,1,AL,Y,SEA,162,...,0.0,0.0,0.0,0.0,0.0,---,2015,2017,---,511000.0
112011,Tony Zych,26.0,zychto01,2017,SEA,1,AL,Y,SEA,162,...,0.0,0.0,0.0,0.0,0.0,---,2015,2017,---,539600.0

In [2]:
war_df['team_ID'].unique()

array(['SFG', 'CHC', 'CHW', 'BOS', 'SEA', 'NYY', 'NYM', 'ATL', 'MLN',
       'MIL', 'CAL', 'BAL', 'LAD', 'OAK', 'CIN', 'HOU', 'WSN', 'MIN',
       'BSN', 'PIT', 'CLE', 'PHI', 'DET', 'FLA', 'COL', 'STL', 'KCR',
       'TBD', 'KCA', 'KCM', 'IC', 'NYC', 'PHA', 'WSH', 'NYG', 'SLB',
       'SDP', 'BRO', 'TEX', 'LAA', 'CSW', 'CS', 'ARI', 'TBR', 'TOR',
       'MRS', 'KCP', 'BEG', 'NBY', 'PS', 'PBS', 'BUF', 'MIA', 'SEP',
       'BBS', 'WP', 'WMP', 'AC', 'MON', 'DS', 'ABC', 'CEL', 'BBB', 'MRM',
       'DM', 'COB', 'COG', 'NE', 'AB3', 'CBR', 'CAG', 'HG', 'CSE', 'ANA',
       'WSA', 'HIL', 'JRC', 'CBE', 'SLS', 'NS', 'PTG', 'NEG', 'SLG',
       'BTT', 'MLA', 'AB2', 'CBB', 'PC', 'SEN', 'IAB', 'BCA', 'ID', 'SL3',
       'SNS', 'HAR', 'BLA', 'BRG', 'NLG', 'NWB', 'ND', 'TT', 'SL2', 'CT',
       'CHI', 'LVB', 'HBG', 'CC', 'PK', 'CTS', 'CBN', 'CHT', 'CTG', 'CCU',
       'DW', 'TC', 'MGS', 'LOW', 'PBG', 'CLS', 'IND', 'NEW', 'WEG', 'DTS',
       'LRG', 'MB', 'CCB', 'SLM', 'IA', 'WAP', 'CRS', 'CUP', 'BE', 'CEG',
       'AG', 'CG', 'TC2'], dtype=object)

In [3]:
war_year_df = war_df[(war_df['year_ID'] >= 2010)]
war_year_df

,player_name,age,key_bbref,year_ID,team_ID,stint_ID,lg_ID,is_P,franch_ID,sched,...,gms_RF,gms_OF,gms_DH,gms_PH,gms_PR,prev_tm,arrived,departed,next_tm,salary
5,David Aardsma,28.0,aardsda01,2010,SEA,1,AL,Y,SEA,162,...,0.0,0.0,0.0,0.0,0.0,BOS,2009,2010,NYY,2750000.0
6,David Aardsma,30.0,aardsda01,2012,NYY,1,AL,Y,NYY,162,...,0.0,0.0,0.0,0.0,0.0,SEA,2012,2012,NYM,500000.0
7,David Aardsma,31.0,aardsda01,2013,NYM,1,NL,Y,NYM,162,...,0.0,0.0,0.0,0.0,0.0,NYY,2013,2013,ATL,NaN
8,David Aardsma,33.0,aardsda01,2015,ATL,1,NL,Y,ATL,162,...,0.0,0.0,0.0,0.0,0.0,NYM,2015,2015,---,NaN
55,Fernando Abad,24.0,abadfe01,2010,HOU,1,NL,Y,HOU,162,...,0.0,0.0,0.0,0.0,0.0,---,2010,2012,WSN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111976,Mike Zunino,30.0,zuninmi01,2021,TBR,1,AL,N,TBD,162,...,0.0,0.0,0.0,5.0,0.0,SEA,2019,2022,---,2000000.0
111977,Mike Zunino,31.0,zuninmi01,2022,TBR,1,AL,N,TBD,29,...,0.0,0.0,0.0,2.0,0.0,SEA,2019,2022,---,7000000.0
112009,Tony Zych,24.0,zychto01,2015,SEA,1,AL,Y,SEA,162,...,0.0,0.0,0.0,0.0,0.0,---,2015,2017,---,NaN
112010,Tony Zych,25.0,zychto01,2016,SEA,1,AL,Y,SEA,162,...,0.0,0.0,0.0,0.0,0.0,---,2015,2017,---,511000.0
112011,Tony Zych,26.0,zychto01,2017,SEA,1,AL,Y,SEA,162,...,0.0,0.0,0.0,0.0,0.0,---,2015,2017,---,539600.0

In [4]:
war_year_df['team_ID'].nunique()
# war_year_df

31

In [5]:
teamID_present_df = teamID_df[(teamID_df['Last_Year'] >= 2010)]
teamID_present_df.count()['Team_ID']

31

In [6]:
teamID_present_df = teamID_present_df.drop(['First_Year', 'Last_Year','Full_Team_Name'],axis=1)
# teamID_present_df

In [7]:
cleaned_df = pd.merge(left=war_year_df,right=teamID_present_df,left_on='team_ID',right_on='Team_ID',how='left')

In [8]:
filtered_df = cleaned_df.filter(['player_name','age','year_ID','team_ID','Team_Name','bwar162','pwar162','g_bat','pa','g_pitch','starts','innings','gms_P','gms_C','gms_1B','gms_2B','gms_3B','gms_SS','gms_LF','gms_CF','gms_RF','gms_OF','is_P']).copy()
filtered_df['shortname'] = ""
filtered_df

,player_name,age,year_ID,team_ID,Team_Name,bwar162,pwar162,g_bat,pa,g_pitch,...,gms_1B,gms_2B,gms_3B,gms_SS,gms_LF,gms_CF,gms_RF,gms_OF,is_P,shortname
0,David Aardsma,28.0,2010,SEA,Mariners,0.000000,0.660000,4,0,53.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Y,
1,David Aardsma,30.0,2012,NYY,Yankees,0.000000,-0.040000,0,0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Y,
2,David Aardsma,31.0,2013,NYM,Mets,0.000000,-0.276667,41,0,43.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Y,
3,David Aardsma,33.0,2015,ATL,Braves,-0.005000,-0.240000,30,1,33.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Y,
4,Fernando Abad,24.0,2010,HOU,Astros,-0.010000,0.256667,22,1,22.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Y,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18661,Mike Zunino,30.0,2021,TBR,Rays,4.125000,0.000000,109,375,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,N,
18662,Mike Zunino,31.0,2022,TBR,Rays,0.195517,0.000000,19,64,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,N,
18663,Tony Zych,24.0,2015,SEA,Mariners,0.000000,0.473333,0,0,13.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Y,
18664,Tony Zych,25.0,2016,SEA,Mariners,0.000000,0.140000,0,0,12.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Y,
18665,Tony Zych,26.0,2017,SEA,Mariners,0.000000,0.816667,4,0,45.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Y,

In [9]:
pitchers_df = filtered_df[(filtered_df['is_P'] == 'Y')]
batters_df = filtered_df[(filtered_df['is_P'] == 'N')]

In [10]:
pitchers_df = pitchers_df.filter(['player_name','shortname','age','year_ID','team_ID','Team_Name','pwar162','g_bat','pa','g_pitch','starts','innings','gms_P','is_P'])
pitchers_df.describe()
p_short_df = pitchers_df['player_name'].str.split(' ', n=2, expand=True)
pitchers_df
# p_short_df
# pitchers_df.to_csv("pitchers_df.csv")

,player_name,shortname,age,year_ID,team_ID,Team_Name,pwar162,g_bat,pa,g_pitch,starts,innings,gms_P,is_P
0,David Aardsma,,28.0,2010,SEA,Mariners,0.660000,4,0,53.0,0.0,49.666667,53.0,Y
1,David Aardsma,,30.0,2012,NYY,Yankees,-0.040000,0,0,1.0,0.0,1.000000,1.0,Y
2,David Aardsma,,31.0,2013,NYM,Mets,-0.276667,41,0,43.0,0.0,39.666667,43.0,Y
3,David Aardsma,,33.0,2015,ATL,Braves,-0.240000,30,1,33.0,0.0,30.666667,33.0,Y
4,Fernando Abad,,24.0,2010,HOU,Astros,0.256667,22,1,22.0,0.0,19.000000,22.0,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18651,Tyler Zuber,,26.0,2021,KCR,Royals,-0.300000,1,1,31.0,0.0,27.333333,31.0,Y
18652,Joel Zumaya,,25.0,2010,DET,Tigers,0.900000,4,0,31.0,0.0,38.333333,31.0,Y
18663,Tony Zych,,24.0,2015,SEA,Mariners,0.473333,0,0,13.0,1.0,18.333333,13.0,Y
18664,Tony Zych,,25.0,2016,SEA,Mariners,0.140000,0,0,12.0,0.0,13.666667,12.0,Y
18665,Tony Zych,,26.0,2017,SEA,Mariners,0.816667,4,0,45.0,0.0,40.666667,45.0,Y

In [11]:
p_shortname = (pd.Series(p_short_df[0].str[:1])).str.lower()
p_lastname = (pd.Series(p_short_df[1].str[:])).str.lower()
shortname = p_shortname + p_lastname
pitchers_df['shortname'] = shortname
pitchers_df
pitchers_df.to_csv("pitcher_war_data.csv")

In [12]:
batters_df = batters_df.filter(['player_name','shortname','age','year_ID','team_ID','Team_Name','bwar162','g_bat','pa','gms_C','gms_1B','gms_2B','gms_3B','gms_SS','gms_LF','gms_CF','gms_RF','gms_OF','is_P'])
b_short_df = batters_df['player_name'].str.split(' ', n=2, expand=True)
# batters_df.describe()
batters_df

,player_name,shortname,age,year_ID,team_ID,Team_Name,bwar162,g_bat,pa,gms_C,gms_1B,gms_2B,gms_3B,gms_SS,gms_LF,gms_CF,gms_RF,gms_OF,is_P
16,C.J. Abrams,,21.0,2022,SDP,Padres,0.279310,20,65,0.0,0.0,4.0,0.0,13.0,0.0,0.0,3.0,3.0,N
20,Bobby Abreu,,36.0,2010,LAA,Angels,2.125000,154,667,0.0,0.0,0.0,0.0,0.0,41.0,0.0,93.0,134.0,N
21,Bobby Abreu,,37.0,2011,LAA,Angels,0.900000,142,585,0.0,0.0,0.0,0.0,0.0,18.0,0.0,10.0,28.0,N
22,Bobby Abreu,,38.0,2012,LAA,Angels,-0.170000,8,27,0.0,0.0,0.0,0.0,0.0,6.0,0.0,1.0,7.0,N
23,Bobby Abreu,,38.0,2012,LAD,Dodgers,-0.030000,92,230,0.0,0.0,0.0,0.0,0.0,46.0,0.0,1.0,47.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18658,Mike Zunino,,27.0,2018,SEA,Mariners,1.985000,113,405,111.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,N
18659,Mike Zunino,,28.0,2019,TBR,Rays,0.100000,90,289,89.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,N
18660,Mike Zunino,,29.0,2020,TBR,Rays,-0.081000,28,84,28.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,N
18661,Mike Zunino,,30.0,2021,TBR,Rays,4.125000,109,375,105.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,N
18662,Mike Zunino,,31.0,2022,TBR,Rays,0.195517,19,64,18.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,N

In [21]:
b_shortname = (pd.Series(b_short_df[0].str[:1])).str.lower()
b_lastname = (pd.Series(b_short_df[1].str[:])).str.lower()
bat_shortname = b_shortname + b_lastname
batters_df['shortname'] = bat_shortname
batters_df
batters_df.to_csv("batter_war_data.csv")

In [22]:
fullmerged_pitcher_df = pd.merge(injury_df, pitchers_df,  how='left', left_on=['shortname','year', 'Team'], right_on = ['shortname','year_ID', 'Team_Name'])

In [23]:
fullmerged_pitcher_df

,Unnamed: 0,Name,Team,Date,Status,injury_length,Injury,location,days_injured,year,...,team_ID,Team_Name,pwar162,g_bat,pa,g_pitch,starts,innings,gms_P,is_P
0,0,Brian Johnson,Red Sox,6/15/17,Placed,10-day,shoulder impingement,left,NaN,2017,...,BOS,Red Sox,0.310000,1.0,2.0,5.0,5.0,27.000000,5.0,Y
1,1,Brian Johnson,Red Sox,7/6/17,Activated,10-day,NaN,NaN,21.0,2017,...,BOS,Red Sox,0.310000,1.0,2.0,5.0,5.0,27.000000,5.0,Y
2,2,Brian Johnson,Red Sox,7/8/18,Placed,10-day,hip inflammation,left,NaN,2018,...,BOS,Red Sox,0.813333,2.0,4.0,38.0,13.0,99.333333,38.0,Y
3,3,Brian Johnson,Red Sox,7/15/18,Activated,10-day,NaN,NaN,7.0,2018,...,BOS,Red Sox,0.813333,2.0,4.0,38.0,13.0,99.333333,38.0,Y
4,4,Brian Johnson,Red Sox,4/6/19,Placed,10-day,elbow inflammation,left,NaN,2019,...,BOS,Red Sox,-0.153333,3.0,1.0,21.0,7.0,40.333333,21.0,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14802,14800,Zack Wheeler,Mets,11/3/17,Activated,60-day,NaN,NaN,102.0,2017,...,NYM,Mets,0.100000,17.0,29.0,17.0,17.0,86.333333,17.0,Y
14803,14801,Zack Wheeler,Mets,7/15/19,Placed,10-day,shoulder fatigue,right,NaN,2019,...,NYM,Mets,3.623333,28.0,64.0,31.0,31.0,195.333333,31.0,Y
14804,14802,Zack Wheeler,Mets,7/26/19,Activated,10-day,NaN,NaN,11.0,2019,...,NYM,Mets,3.623333,28.0,64.0,31.0,31.0,195.333333,31.0,Y
14805,14803,Zoilo Almonte,Yankees,7/20/13,Placed,15-day,sprained ankle,left,NaN,2013,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14806,14804,Zoilo Almonte,Yankees,9/9/13,Activated,15-day,NaN,NaN,51.0,2013,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
# fullmerged_df = fullmerged_df.dropna(subset=['is_P'])
fullmerged_pitcher_df.dropna(subset=['is_P'])

,Unnamed: 0,Name,Team,Date,Status,injury_length,Injury,location,days_injured,year,...,team_ID,Team_Name,pwar162,g_bat,pa,g_pitch,starts,innings,gms_P,is_P
0,0,Brian Johnson,Red Sox,6/15/17,Placed,10-day,shoulder impingement,left,NaN,2017,...,BOS,Red Sox,0.310000,1.0,2.0,5.0,5.0,27.000000,5.0,Y
1,1,Brian Johnson,Red Sox,7/6/17,Activated,10-day,NaN,NaN,21.0,2017,...,BOS,Red Sox,0.310000,1.0,2.0,5.0,5.0,27.000000,5.0,Y
2,2,Brian Johnson,Red Sox,7/8/18,Placed,10-day,hip inflammation,left,NaN,2018,...,BOS,Red Sox,0.813333,2.0,4.0,38.0,13.0,99.333333,38.0,Y
3,3,Brian Johnson,Red Sox,7/15/18,Activated,10-day,NaN,NaN,7.0,2018,...,BOS,Red Sox,0.813333,2.0,4.0,38.0,13.0,99.333333,38.0,Y
4,4,Brian Johnson,Red Sox,4/6/19,Placed,10-day,elbow inflammation,left,NaN,2019,...,BOS,Red Sox,-0.153333,3.0,1.0,21.0,7.0,40.333333,21.0,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14800,14798,Zack Wheeler,Mets,7/1/17,Activated,10-day,NaN,NaN,10.0,2017,...,NYM,Mets,0.100000,17.0,29.0,17.0,17.0,86.333333,17.0,Y
14801,14799,Zack Wheeler,Mets,7/24/17,Placed,10-day,stress reaction in arm,right,NaN,2017,...,NYM,Mets,0.100000,17.0,29.0,17.0,17.0,86.333333,17.0,Y
14802,14800,Zack Wheeler,Mets,11/3/17,Activated,60-day,NaN,NaN,102.0,2017,...,NYM,Mets,0.100000,17.0,29.0,17.0,17.0,86.333333,17.0,Y
14803,14801,Zack Wheeler,Mets,7/15/19,Placed,10-day,shoulder fatigue,right,NaN,2019,...,NYM,Mets,3.623333,28.0,64.0,31.0,31.0,195.333333,31.0,Y
14804,14802,Zack Wheeler,Mets,7/26/19,Activated,10-day,NaN,NaN,11.0,2019,...,NYM,Mets,3.623333,28.0,64.0,31.0,31.0,195.333333,31.0,Y

In [29]:
fullmerged_batters_df = pd.merge(injury_df, batters_df,  how='left', left_on=['shortname','year', 'Team'], right_on = ['shortname','year_ID', 'Team_Name'])

In [31]:
# fullmerged_batters_df
fullmerged_batters_df.dropna(subset=['is_P'])

,Unnamed: 0,Name,Team,Date,Status,injury_length,Injury,location,days_injured,year,...,gms_C,gms_1B,gms_2B,gms_3B,gms_SS,gms_LF,gms_CF,gms_RF,gms_OF,is_P
32,32,Kyle Farmer,Reds,7/18/19,Placed,7-day,concussion,NaN,NaN,2019,...,15.0,18.0,41.0,12.0,1.0,0.0,0.0,0.0,0.0,N
33,33,Kyle Farmer,Reds,7/28/19,Activated,10-day,NaN,NaN,10.0,2019,...,15.0,18.0,41.0,12.0,1.0,0.0,0.0,0.0,0.0,N
34,34,Kyle Farmer,Reds,9/4/19,Placed,10-day,strained oblique,left,NaN,2019,...,15.0,18.0,41.0,12.0,1.0,0.0,0.0,0.0,0.0,N
35,35,Kyle Farmer,Reds,9/18/19,Activated,10-day,NaN,NaN,14.0,2019,...,15.0,18.0,41.0,12.0,1.0,0.0,0.0,0.0,0.0,N
36,36,Miguel Cabrera,Tigers,7/4/15,Placed,15-day,strained calf,left,NaN,2015,...,0.0,107.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14778,14769,Zack Cozart,Angels,5/7/19,Activated,10-day,NaN,NaN,12.0,2019,...,0.0,0.0,1.0,31.0,5.0,0.0,0.0,0.0,0.0,N
14779,14770,Zack Cozart,Angels,5/28/19,Placed,10-day,shoulder inflammation,left,NaN,2019,...,0.0,0.0,1.0,31.0,5.0,0.0,0.0,0.0,0.0,N
14780,14771,Zack Cozart,Angels,11/4/19,Activated,60-day,NaN,NaN,160.0,2019,...,0.0,0.0,1.0,31.0,5.0,0.0,0.0,0.0,0.0,N
14812,14803,Zoilo Almonte,Yankees,7/20/13,Placed,15-day,sprained ankle,left,NaN,2013,...,0.0,0.0,0.0,0.0,0.0,25.0,0.0,3.0,28.0,N
14813,14804,Zoilo Almonte,Yankees,9/9/13,Activated,15-day,NaN,NaN,51.0,2013,...,0.0,0.0,0.0,0.0,0.0,25.0,0.0,3.0,28.0,N